.top-section {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid;
}

.top-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.top-section p {
  margin-bottom: 10px;
  line-height: 1.8;
  color: black;
}

.top-section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.top-section a:hover {
  text-decoration: underline;
}

/* Global Heading Styles */
h1,
h2,
h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  /* border-bottom: 2px solid; */
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: black;
}

.read-more {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  cursor: pointer;
}

.more-images {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  cursor: pointer;
}

a{
  
  color: black;
  
  cursor: pointer;
}

